@model IEnumerable<ActivitiesTaskList.Models.Activities>

@{
    ViewData["Title"] = "SavedActivities";
}

<h1>Saved Activities</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedByNavigation)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Date.ToString("MM/dd/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            
            <td>
                <a asp-action="DeleteActivityFromUser" asp-route-id="@item.Id">Delete from favorites</a>
                <a asp-action="Update" asp-route-id="@item.Id">Update</a>
                <a asp-action="SendReminder" asp-route-id="@item">Send update to users</a>
                <a asp-controller="Friend" asp-action="FriendSuggestions" asp-route-id="@item.UserToActivity">People attending</a>
            </td>
        </tr>
}
    </tbody>
</table>
