@model ActivitiesTaskList.Models.Activities

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<form asp-controller="Home" asp-action="Update" method="post">
    Date (@Model.Date.ToString("MM/dd/yyyy"))<input type="date" name="Date" value="@Model.Date.ToString("MM/dd/yyyy")" required />
    Name of event: <input type="text" name="Title" value="@Model.Title" required />
    Description: <input type="text" name="Description" value="@Model.Description" required />
    Location: <input type="text" name="Location" value=@Model.Location required />
    Cost: <input type="number" name="Cost" value="@Model.Cost" required />
    <input type="hidden" name="@Model.CreatedByNavigation" />
    <input type="hidden" name="@Model.CreatedBy" />
    <input type="hidden" name="@Model.Id" />
    <input type="submit" value="Update event" />
</form>